html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-family: $main-font;
  font-size: $fs-m;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-rendering: optimizeSpeed;
}

img {
  vertical-align: top;
}

a {
  color: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
/*@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}*/
