$content: 1024px;

// Font
//---------------------------------
$main-font: 'Source Sans Pro', 'Verdana', sans-serif;
$fs-s: 12px;
$fs-m: 16px;
$fw-regular: 400;
$fw-bold: 600;

// Colors
//---------------------------------
